@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Set Inter as the default font */
body {
  font-family: 'Inter', sans-serif;
}




.animate-marquee {
  display: flex;
  width: 200%;
  will-change: transform;
  backface-visibility: hidden;
  animation: marquee 50s linear infinite;
}
.animate-marquee1 {
  display: flex;
  width: 200%;
  will-change: transform;
  backface-visibility: hidden;
  animation: marquee 40s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


//random movement 
/* .animate-marquee {
  display: flex;
  width: 200%;
  will-change: transform;
  backface-visibility: hidden;
  animation: marquee 50s ease-in-out infinite alternate;
}

.animate-marquee1 {
  display: flex;
  width: 200%;
  will-change: transform;
  backface-visibility: hidden;
  animation: marquee1 40s ease-in-out infinite alternate;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-15%) scale(1.01);
  }
  50% {
    transform: translateX(-30%) scale(1);
  }
  75% {
    transform: translateX(-45%) scale(0.99); 
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee1 {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-10%) scale(1.02);
  }
  50% {
    transform: translateX(-25%) scale(0.98); 
  }
  75% {
    transform: translateX(-40%) scale(1);
  }
  100% {
    transform: translateX(-50%);
  }
} */
